# ============================================================
# SUPABASE
# ============================================================
NEXT_PUBLIC_SUPABASE_URL=https://kzkqmkplvjhetudetbgf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6a3Fta3BsdmpoZXR1ZGV0YmdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzODExNzUsImV4cCI6MjA5Njk1NzE3NX0.rVowK-VCibcFG002VNQKNxZWuWYSP0SxcaGsmWyk_tg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6a3Fta3BsdmpoZXR1ZGV0YmdmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTM4MTE3NSwiZXhwIjoyMDk2OTU3MTc1fQ.9bjaLylSqVk-JZ5WqtFo-_gW2OgjcPCDQlYL6t8bJMQ

# ============================================================
# MERCADO PAGO
# ============================================================
MERCADOPAGO_ACCESS_TOKEN=APP_USR-3764794392069470-060912-e4bd3efc020b157398173ad986a48db6-3397233422
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=APP_USR-d7fa17b4-73c9-4fe7-a7b8-39b9be5386e6

# ============================================================
# RESEND (email transaccional)
# ============================================================
RESEND_API_KEY=re_ihWMyb7B_J2gg6DvWtRYiW1YxnVAePx7J
RESEND_FROM_EMAIL=mail.tutienda.com
RESEND_FROM_NAME=Mi Tienda

# ============================================================
# APP
# ============================================================
NEXT_PUBLIC_APP_URL=https://mi-tienda2026-vercel.vercel.app/
NEXT_PUBLIC_TIENDA_NOMBRE=Mi Tienda

# ============================================================
# SEGURIDAD
# ============================================================
REVALIDATE_SECRET_TOKEN=fHbgx8IqqJth/t9iL3CfilBTUoQ7BCNftaLzoxNYddk=PS

# ============================================================
# TAWK.TO (chat — opcional)
# ============================================================
NEXT_PUBLIC_TAWKTO_PROPERTY_ID=6a3769fa18575d1d4c5b18b4
NEXT_PUBLIC_TAWKTO_WIDGET_ID=1jrk7bupl


# ============================================================
# WHATSAPP FLOTANTE
# ============================================================
NEXT_PUBLIC_WHATSAPP_NUMBER=5491166585257
NEXT_PUBLIC_WHATSAPP_MESSAGE=Hola! Me interesa hacer un pedido

# ============================================================
# MANTENIMIENTO (fallback si no está en DB)
# ============================================================
MAINTENANCE_MODE=false
